<div class="bg-pink-500 text-white h-screen w-screen text-center p-12 flex flex-col py-20">
    <h1 class="text-7xl">Ulster Scots Agency</h1>
    <div class="text-center flex mt-20  items-center justify-around w-full">
    
        <div>
            
            <ul class="mt-12">
                <strong class="text-3xl">Up and Running</strong>
                <li class="mt-4"><strong>PHP</strong> - >v7.4</li>
                <li><strong>Node</strong> - v16</li>
                <li><strong>Valet</strong> - valet link</li>
                <li class="mb-10"><strong>Browser Sync</strong> - npm run watch</li>


                <strong class="text-3xl">Locations</strong>
                <li class="mt-4"><strong>CSS</strong> - tailwind.css</li>
                <li><strong>JS</strong> - site.js</li>
                <li><strong>Statamic Pro</strong> - &#x2713;</li>
                <li><strong>Mailtrap</strong> - &#x2713;</li>
        </div>
            <div>
                <li class="mt-10 list-none"><strong class="text-3xl">Tailwind Extends</strong>
                    <small>
                        <ul class="mt-4">
                            <li>rotate: ['group-hover', 'focus-within', 'focus'],</li>
                            <li> transform: ['group-hover', 'focus-within', 'focus'],</li>
                            <li> translate: ['group-hover', 'focus-within', 'focus'], </li>
                            <li> transitionDuration: ['group-hover'], </li>
                            <li> transitionProperty: ['group-hover'], </li>
                            <li> transitionTimingFunction: ['group-hover'], </li>
                            <li> margin: ['group-hover'], </li>
                            <li> fill: ['group-hover'], </li>
                            <li> display: ['group-hover'], </li>
                            <li> height: ['responsive', 'hover', 'focus'] </li>
                        </ul>
                    </small>
                </li>
                <li class="mt-10 list-none"><strong class="text-3xl">User Login Details</strong>
                    <ul class="mt-4">
                        <li><strong>Email - </strong> hello@reflex-studios.com</li>
                        <li><strong>Super User - </strong> &#x2713;</li>
                        <li><strong>Password - </strong>&#x3C0; x 6432123 / 0.3456
                            <br>
                            <small>Wee jokes, it's 123456789</small>
                        </li>
                    </ul>
                </li>
                        </ul>
            </div>
    </div>
</div>